.Columns {
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: aquamarine;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    text-align: center;
}